* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#create_btn{
  background-color: green;
  color: #fff;
}

#create_btn:hover{
  background-color: darkgreen;
}

#delete_btn{
  background-color: rgb(205, 0, 0);
  color: #fff;
}

#delete_btn:hover{
  background-color: rgb(164, 0, 0);
}

#update_btn{
  background-color: rgb(0, 202, 202);
  color: #000;
}

#update_btn:hover{
  background-color: darkcyan;
}